.about-container {
    width: 100%;
    min-height: fit-content;
    background-color: var(--primary-background-color);
    padding: 40px 20px;
    font-size: 18px;
}

/* Paragraph */
.about-container .para {
    color: var(--primary-background-white);
    margin-top: 10px;
    line-height: 1.6;
}

.about-container .para .highlight {
    color: var(--secondary-background-color);
    font-weight: 800;
}

/* CARD DESIGN */
.about-card {
    margin: 25px 0;
    padding: 25px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.051);
    border: 1px solid rgba(220, 20, 60, 0.3);
    backdrop-filter: blur(20px);
    transition: all 0.4s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    animation: ani-skill ease; 
    animation-timeline: view(); 
    animation-range: entry 0%;
}

.about-card:hover {
    transform: translateY(-8px);
    border-color: crimson;
    box-shadow: 0 15px 30px rgba(220, 20, 60, 0.3);
}

.card-title {
    font-size: 22px;
    font-weight: 700;
    color: crimson;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.card-text ul {
    padding-left: 20px;
}

.card-text ul li {
    margin-bottom: 12px;
    color: var(--primary-background-white);
    position: relative;
    transition: 0.3s;
}

/* Custom bullet */
.card-text ul li::marker {
    color: crimson;
}
li{
    margin-bottom: 4px;
}
.buttonsGroup-about .resume-btn svg{
    width: 30px;
    height: 25px;
    fill: var(--primary-background-white);
}
.buttonsGroup-about .resume-btn:hover svg{
    width: 30px;
    height: 25px;
    fill: var(--secondary-background-color);
}





/* Media Query */
@media (min-width:768px) {
   .buttonsGroup-about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   }
}


@media (max-width:767px) {
    .card-container{
    justify-content: center;
    align-items: center;
    margin: auto;
}
.buttonsGroup-about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   }
}


/* Animation */

@keyframes ani-skill {
    from
    {
        opacity: 0;
        transform: translateY(500px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}