.about-container{
    width: 100%;
    min-height: fit-content;
    background-color: var(--primary-background-color);
    padding: 2px 15px;
    transition: 2s;
    font-size: 18px;
}

.about-container .para{
    color: var(--primary-background-white);
    transition: 2s;
   margin-top: 5px;
}
.about-container .para .highlight{
    color:var(--secondary-background-color);
    font-weight: 800;
}
.about-card{
    margin-top: 20px;
    margin-bottom: 20px;
       transition: 2s;
    padding: 20px;
    animation: ani-skill ease;
    animation-timeline: view();
    animation-range: entry 0%;
}
/* .about-card:hover{
    background-color: rgba(250, 99, 129, 0.993);
} */
.card-title{
    font-size: 20px;
    color: var(--secondary-background-color);
}
.card-text ul li{
    margin-bottom: 15px;
}
li{
    margin-bottom: 4px;
}
.buttonsGroup-about .resume-btn svg{
    width: 30px;
    height: 25px;
    fill: var(--primary-background-white);
}
.buttonsGroup-about .resume-btn:hover svg{
    width: 30px;
    height: 25px;
    fill: var(--secondary-background-color);
}





/* Media Query */
@media (min-width:768px) {
   .buttonsGroup-about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   }
}


@media (max-width:767px) {
    .card-container{
    justify-content: center;
    align-items: center;
    margin: auto;
}
.buttonsGroup-about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   }
}


/* Animation */

@keyframes ani-skill {
    from
    {
        opacity: 0;
        transform: translateY(500px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}