.about-container{
    width: 100%;
    min-height: fit-content;
    background-color: var(--primary-background-color);
    padding: 2px 15px;
    transition: 8s;
}
.head{
    animation: ani-left ease;
    animation-timeline: view();
    animation-range: entry 20%;
}
.about-container .para{
    color: var(--primary-background-white);
    animation: ani-left ease-in-out;
    animation-timeline: view();
    animation-range: entry 0%;
}

.about-card{
    margin-top: 20px;
    margin-bottom: 20px;
     animation: ani-left ease-in-out;
    animation-timeline: view();
    animation-range: entry 0%;
    padding: 20px;
}
/* .about-card:hover{
    background-color: rgba(250, 99, 129, 0.993);
} */
.card-title{
    font-size: 18px;
    color: var(--secondary-background-color);
}
.card-text ul li{
    margin-bottom: 15px;
}
.buttonsGroup-about .resume-btn svg{
    width: 30px;
    height: 25px;
    fill: var(--primary-background-white);
}
.buttonsGroup-about .resume-btn:hover svg{
    width: 30px;
    height: 25px;
    fill: var(--secondary-background-color);
}
/* Animations */
@keyframes ani-left {
    from{
        opacity: 0;
        transform: translateX(-500px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes ani-right{
    from{
        opacity: 0;
        transform: translateX(2000px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}




/* Media Query */
@media (min-width:768px) {
   .buttonsGroup-about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   }
}


@media (max-width:767px) {
    .card-container{
    justify-content: center;
    align-items: center;
    margin: auto;
}
.buttonsGroup-about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   }
}