.certificate-container{
    width: 100%;
    padding: 15px;
    min-height: fit-content;
    background-color: var(--primary-background-color);
    padding-bottom: 20px;
}
.certificate-row{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.certificate-col{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.certificate-box{
    width: 400px;
    background-color: var(--primary-background-color);
    border: 1px solid var(--primary-background-white);
    padding: 15px 0px;
    border-radius: 10px;
    text-align: center;
       transition: 1s;
      animation: ani-skill ease;
    animation-timeline: view();
    animation-range: entry 0%;
}
.certify-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
    height: auto;
}
.certify-name{
    margin-top: 10px;
    margin-bottom: 10px;
    color: var( --primary-head-text-color);
}
.certify-btn{
    background-color: var(--secondary-background-color);
    color: var(--primary-background-white);
}
.certify-btn:hover{
       background-color: var(--bg-hover-color);
    color: var(--primary-background-white);
}

/* animation */
@keyframes ani-cerify {
    from
    {
        opacity: 0;
        scale:0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}