.contact-container{
    background-color: var(--primary-background-color);
    font-size: 18px;
}
.contact-col{
    padding-bottom: 15px;
       transition: 0.2s;
}

.maincontact{
    color: var(--secondary-text-color);
    padding: 40px 50px;
}
.subcontentinContact{
    padding: 10px 5px;
}
.contact-atag{
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 18px;
}
.content1{
    margin-top: 5px;
}
.content1 a{
        color: var(--secondary-text-color);
}
.content1 a:hover{
    color: var(--secondary-background-color);
}
.txt-are{
height: 120px;
}
.content1 svg{
    width: 30px;
    height: 30px;
    fill: var(--secondary-background-color);
    margin-right: 5px;
}
.icons-container-contact{
    margin-top: 10px;
}
.contact-form{
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-label{
    color: var(--secondary-text-color);
    margin-top:8px;
}
.form-control{
    padding: 6px;
    margin-bottom: 10px;
}
.msg-btn {
    margin-top: 20px;
    background: crimson;
    color: #fff;
    padding: 10px 22px;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(220, 20, 60, 0.3);
    cursor: pointer;
}

/* Hover Effect */
.msg-btn:hover {
    background: transparent;
    color: crimson;
    border: 1px solid crimson;
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(220, 20, 60, 0.4);
}
.requireds{
    color: red;
}
.msg-notify{
    display: none;
    color: rgb(23, 146, 23);
    text-align: center;
    padding-top: 5px;
}
/* Media query */
@media (min-width:768px) {
    .contact-form{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}
}
@media (max-width:767px) {
.maincontact{
    color: var(--secondary-text-color);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 5px;
   
}
.contact-form{
    padding-top: 0px;
    padding-bottom: 10px;
}
.msg-btn{
    background-color: var(--secondary-background-color);
    display: flex;
    justify-self: center;
    margin-top: 25px;
}
.contact-col{
    padding: 0px 5px;
}

}

