@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');


 .navbar{
    border-bottom: 0.5px solid black;
    background-color: var(--primary-background-color);
 }
 i{
    color: var(--secondary-background-color);
 }
.navbar-brand{
    font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  transition: 2s;
    display: flex;
    color: var(--secondary-background-color);
    font-size: 21px;
    align-items: center;
    margin-left: 12px;
}
.navbar-brand:hover{
    cursor: pointer;
    color: var( --secondary-text-color);
}
.navbar-nav .navbar-item{
    display: flex;
    filter: blur(0.8);
    place-content: center;
    font-size: 20px;
    padding: 3px 8px;
    margin: 4px 5px;
    border-bottom: 2px solid transparent;
}
.navbar-nav a{
    text-decoration: none;
    color: var(--secondary-background-color);
    font-weight: 500;
    margin: 0px 4px;
}

.navbar-item:hover{
    border-bottom: 2px solid var(--secondary-background-color);
    border-radius: 5px;
    
}
.contain{
    display: flex;
    flex-direction:column;
    margin-right: 0px;
}
.buttons{
    display: flex;
}

