.project-container{
    background-color: var(--primary-background-color);
    box-sizing: border-box;
    max-width: 100%;
   min-height: fit-content;
   
}

.project-col{
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--secondary-text-color);
    border: 1px solid var(--primary-background-white);
       transition: 1s;
     animation: ani-skill ease;
    animation-timeline: view();
    animation-range: entry 0%;
}
.card-img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    filter: contrast(1.2);
}
.cart-title{
    margin-top: 5px;
    color: var(--primary-head-text-color);
    font-weight: 700;
    font-size: 18px;
}
.card-subtitle{
    margin-top: 5px;
    font-weight: 400;
    color: var( --primary-text-color);
}
.project-btn-group{
    margin-top: 8px;
    margin-bottom: 5px;
}

.project-btn{
    background-color: var(--primary-head-text-color);
    margin-left: 8px;
    color: var(--secondary-text-color);
}
.project-btn:hover{
    color: var(--secondary-text-color);
    background-color: var(--bg-hover-color);
}



/* Media query */
@media (min-width:768px) {
.card-contain{
    margin-top: 13px;
}
.project-container{
    padding: 5px 12px;
}

.project-col{
    width: 330px;
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.project-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.project-col{
    width: 330px;
    
}
}

@media (max-width:767px) {
.project-container{
    max-width: 100%;
    padding: 10px 13px;
}
.card-contain{
    margin-top: 10px;
}
.project-col{
    width: 330px;
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.project-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

}


/* Animation */

@keyframes ani-skill {
    from
    {
        opacity: 0;
        scale:0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}