.skill-container{
    background-color: var(--primary-background-color);
    padding: 10px 20px;
}
.skill-col{
    border: 1px solid var(--primary-background-white);
    border-radius: 8px;
    margin: 3px;
       transition: 1s;
     animation: ani-skill ease;
    animation-timeline: view();
    animation-range: entry 0%;
}

.skill-set{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
     animation: ani-skill ease;
    animation-timeline: view();
    animation-range: entry 0%;
}
.tool{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
       transition: 1s;
     animation: ani-skill ease;
    animation-timeline: view();
    animation-range: entry 0%;
}
.skill-para{
    color: var(--secondary-background-color);
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
    font-size: 18px;
     animation: ani-skill ease;
    animation-timeline: view();
    animation-range: entry 0%;
}

.skill-img{
    margin: 15px;
    background-color: var(--primary-background-white);
    padding: 5px;
    border-radius: 5px;
    filter: contrast(2);
    width: 90px;
    height: 90px;
   
}

/* .skill-img:hover{
 background-color: var(--secondary-color);
} */


.skill-svg{
  fill: var(--secondary-background-color);
    width: 30px;
    height: 30px;
}

.skill-tool{
    color: var(--secondary-background-color);
}

.skill-head{
    color: var(--primary-background-white);
    justify-content: center;
    margin-top: 10px;
}

/* Media query */

@media (min-width:768px) {

.skill-row{
    display: flex;
    justify-content: space-around;
}
}

@media (max-width:767px) {


    .skill-img{
    margin-left: 35px;
}

.skill-img{
    width: 70px;
    height: 70px;
   
}

}


@keyframes ani-skill {
    from
    {
        opacity: 0;
        scale:0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}