.skill-container{
    background-color: var(--primary-background-color);
    padding: 10px 20px;
}
.skill-col{
    border: 1px solid var(--primary-background-white);
    border-radius: 8px;
    margin: 3px;
       transition: 0.1s;
       position: relative;
       margin-top: 10px;
       bottom: 0px;
          animation: ani-skill ease;
    animation-timeline: view();
    animation-range: entry 0%;
     
}
.skill-col:hover,.tool-col:hover{
        box-shadow: 0px 0px 10px var(--primary-background-white);
}
.skill-set{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
   
}
.tool{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
       transition: 0.2s;
    
}
.skill-para{
    color: var(--secondary-background-color);
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
    font-size: 19px;
    /* position: s; */
    padding: 10px;
    bottom: 0px;
    
}

.skill-img{
    margin: 15px;
    background-color: var(--primary-background-white);
    padding: 5px;
    border-radius: 5px;
    filter: contrast(2);
    width: 80px;
    height: 80px;
}
.skill-icon{
    width: 60px;
    padding: 5px;
    height: 60px;
}
.skill-icon:hover{
    padding: 0px;
}
.skill-img:hover{
    padding: 0px;
}


.skill-svg{
  fill: var(--secondary-background-color);
    width: 30px;
    height: 30px;
}

.skill-tool{
    color: var(--secondary-background-color);
}

.skill-head{
    color: var(--primary-background-white);
    justify-content: center;
    margin-top: 10px;
}
.tool-col{
    border: 1px solid var(--primary-background-white);
    border-radius: 8px;
    margin: 3px;
    padding: 5px;
       transition: 0.1s;
          animation: ani-skill ease;
    animation-timeline: view();
    animation-range: entry 0%;
    
}
/* Media query */

@media (min-width:768px) {

.skill-row{
    display: flex;
    justify-content: space-around;
}
.skill-col{
    width: 400px;
}
}

@media (max-width:767px) {


    .skill-img{
    margin-left: 15px;
}

.skill-img{
    width: 70px;
    height: 70px;
   
}

}


/* Animation */

@keyframes ani-skill {
    from
    {
        opacity: 0;
        transform: translateY(500px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}