*{
    margin: 0;
    padding: 0;
    transition: 0.3s;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background-color: var( --primary-background-color);
}

.alternate{
      --primary-background-color:rgb(227, 224, 224);
    --secondary-background-color:crimson;
    --primary-background-white:rgb(0, 0, 0);

    --primary-text-color:white;
    --primary-head-text-color:crimson;
    --secondary-text-color:black;

    --bg-hover-color:rgb(97, 97, 97);
    --bg-icon-hover-color:rgb(247, 15, 61);
    --text-hover-color:rgb(247, 15, 61);
    --new-color:rgb(255, 255, 255);
    --common-color:black;
}

:root{
    --commom-color:black;
    --new-color:silver;
    --primary-background-color:black;
    --secondary-background-color:crimson;
    --primary-background-white:white;

    --primary-text-color:black;
    --primary-head-text-color:crimson;
    --secondary-text-color:white;

    --bg-hover-color:rgb(247, 15, 61);
    --bg-icon-hover-color:white;
    --text-hover-color:white;

    /* --primary-color: black;
    --secondary-color:crimson;
    --primary-white:white; */
}
.portfolio-container{
    position: relative;
}

.pic{
    width: 100%;
    border-radius: 30px;
}
.icon{
    width: 35px;
    height: 35px;
    fill: var(--secondary-background-color);
    border-radius: 5px;
    margin: 10px;
    color: var(--secondary-background-color);
}

.icon:hover{
    fill: var(--bg-icon-hover-color);
}
.head{
    color: var(--primary-head-text-color);
    padding: 2px 0px;
    margin-bottom: 5px;
}
.footer{
    background-color: var(--primary-background-color);
    color:gray;
    font-weight: 500;
    text-align: center;
}

 @media (min-width:768px) {
#about,#skills,#projects,#certificates,#contact{
    padding-top: 45px;
    background-color: var(--primary-background-color);
 } 
 #contact{
    padding-top: 60px;
 }
}

@media (max-width:767px) {

#about,#skills,#projects,#certificates{
    padding-top: 55px;
    background-color: var(--primary-background-color);
 } 
.head{
      padding-top: 55px;
    background-color: var(--primary-background-color);
 }
}

.cbutton{
    padding: 5px 10px;
    color: var(--primary-background-white);
    background-color: var(--secondary-background-color);
}

/* 404 */
.not-found-container {
  text-align: center;
  padding: 80px 20px;
}

.not-found-container h1 {
  font-size: 96px;
  margin-bottom: 20px;
  color: #ff4c60;
}

.not-found-container p {
  font-size: 20px;
  margin-bottom: 30px;
}

.home-link {
  text-decoration: none;
  color: white;
  background-color: #4CAF50;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: bold;
}
