*{
    margin: 0;
    padding: 0;
    transition: 0.3s;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background-color: var(--primary-color);
}

:root{
    --primary-color: black;
    --secondary-color:crimson;
    --primary-white:white;
}
.portfolio-container{
    position: relative;
}
.pic{
    width: 100%;
    border-radius: 30px;
}
.icon{
    width: 35px;
    height: 35px;
    fill: var(--secondary-color);
    border-radius: 5px;
    margin: 10px;
}
.icon:hover{
    fill: var(--primary-white);
}
.head{
    color: var(--secondary-color);
    padding: 2px 0px;
    margin-bottom: 5px;
}
.footer{
    color:gray;
    font-weight: 500;
}

 @media (min-width:768px) {
#about,#skills,#projects,#certificates{
    padding-top: 45px;
    background-color: var(--primary-color);
 } 
}

@media (max-width:767px) {

#about,#skills,#projects,#certificates{
    padding-top: 55px;
    background-color: var(--primary-color);
 } 
}